doctype html
html(lang='en')
  head
    block title
        title HomePage

    link(href="assets/css/main.css", rel="stylesheet")
    link(href="assets/css/static.css", rel="stylesheet")

  body
    h1
     | Quick FrontEnd Starter
    block content
        p Sample content


    script(src="assets/js/default.js", type="text/javascript")
